<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>    
    <add assembly="dotcrafted.ImageCrop" />
  </assemblies>
  <dojoModules>
    <add name="dotcrafted" path="ClientResources" />
  </dojoModules>
  <dojo>
    <paths>
      <add name="dotcrafted" path="ClientResources" />
    </paths>
  </dojo>
  <clientResources>  
    <add name="dotcrafted.cropper.js" path="ClientResources/Scripts/Lib/cropper.min.js" resourceType="Script" sortIndex="1" />
    <add name="dotcrafted.cropper.css" path="ClientResources/Styles/cropper.css" resourceType="Style" sortIndex="1" />
    <add name="dotcrafted.imagecrop.css" path="ClientResources/Styles/imagecrop.css" resourceType="Style" sortIndex="2" />
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="dotcrafted.cropper.js" />
      <add name="dotcrafted.cropper.css" />
      <add name="dotcrafted.imagecrop.css" />
    </requiredResources>
  </clientModule>
</module>